body {
  margin: 0;
}

.Nav{
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}

.Nav p {
  margin: 15px;
}

.ArticleCard {
  border: solid; 
  text-align: left;
  margin: 10px
}

h4 {
  font-style: italic;
}

.cardText{
  margin-left: 15px
}
